svg.arrow-button(viewbox='0 0 32 32' width="32" height="32")
  path(d='M17,25.61h0A15.19,15.19,0,0,1,26.57,16h0' stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" fill="none")
  path(d='M26.57,16h0A15.19,15.19,0,0,1,17,6.39h0' stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" fill="none")
  line(x1='5.43' y1='16' x2='26.57' y2='16' stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px")