.contacts {
  @extend %page;
}

.contacts__title {
  @extend %container;

  margin-top: 32rem;
  margin-bottom: 20rem;

  @include media('<phone') {
    margin-top: 28rem;
    margin-bottom: 10rem;
    padding-right: 3rem;
  }
}

// form
.contacts__form {
  @extend %container;

  color: var(--color-background);
  margin-bottom: 20rem;

  & form > div {
    margin-top: 12rem;
  }

  & button {
    margin-top: 3rem;
  }
}

ul.contacts__form__options {
  margin-top: 5rem;
  list-style: none;

  & li {
    @extend %text-body;

    border: 1px solid var(--color-background);
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-right: 4rem;
    padding: 2rem 4rem;
    transition: all 1.5s $ease-mc;

    &.selected {
      background-color: $color-text;
      border: 1px solid $color-text;
      color: $color-background;
    }

    & input {
      display: none;
    }

    @include media('<phone') {
      font-size: 3.3rem;
      letter-spacing: -0.06rem;
      margin-bottom: 2.8rem;
      margin-right: 2.8rem;
      padding: 1.6rem 2.8rem;
    }
  }

  @include media('<phone') {
    margin-right: -3rem;
  }
}

.contacts__form__project {
  .desktop & {
    max-width: 100rem;
  }
}
