.footer {
  padding: 0;
  height: 50vw;
  width: 100%;
  z-index: z('footer');
}

.footer__wrapper {
  padding: 20vw 0 3vw;
}

.footer__arrow svg {
  height: 6vw;
  width: 6vw;
}

.footer__credits {
  margin-top: 6vw;
  margin-left: 3vw;
}
