.footer {
  padding: 0;
  height: 50vw;
  width: 100%;
  z-index: z('footer');
}

.footer__wrapper {
  padding: 20vw 0 3vw;
}

a.footer__arrow {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: 2rem;
  opacity: 0.4;

  & svg {
    height: 6vw;
    width: 6vw;
  }

  @include media('<phone') {
    top: 1.5vw;

    & svg {
      height: 12vw;
      width: 12vw;
    }
  }
}

.footer__credits {
  margin-top: 6vw;
  margin-left: 3vw;
}
