.button-menu {
  cursor: pointer;
  display: flex;
  height: 6rem;
  mix-blend-mode: difference;
  place-items: center;
  pointer-events: auto;
  position: fixed;
  right: 3rem;
  top: 2.35rem;
  width: 6rem;
  z-index: z('overlay');

  @include media('<phone') {
    height: 10rem;
    width: 10rem;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 2.6s $ease-mc, stroke-dashoffset 2.6s $ease-mc;
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  &.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  &.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  &.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

.menu__wrapper {
  background: #f7f7f7;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  width: 100%;
}

.menu__wrapper.menu__wrapper--open {
  pointer-events: auto;
  opacity: 1;
}

.overlay {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  pointer-events: none;
  position: relative;
  width: 100%;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  & label {
    display: block;
  }
}

.menu__item {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  will-change: opacity, transform;
}

.menu__content {
  @extend %text-body;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 134rem;

  & > * {
    width: 49.7%;
  }

  @include media('<phone') {
    flex-direction: column;
    width: 50rem;

    & > * {
      width: 100%;
    }

    & .menu__info {
      flex-direction: column-reverse;
      margin-top: 10rem;

      & .menu__follow {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.menu__nav label {
  margin-left: 0.4rem;
}

.menu__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__contacts a,
.menu__follow a {
  display: block;
  position: relative;
}

.menu__wrapper,
.overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: z('overlay');
}
