.navigation {
  color: var(--color-text);
  height: auto;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('navigation');

  @include media('<phone') {
    height: 12rem;
  }
}

.navigation__logo {
  height: 50px;
  left: clamp(24px, 5vw, 48px);
  pointer-events: auto;
  position: absolute;
  top: clamp(24px, 5vw, 36px);
  width: 200px;
  transform: scale(0.9);
  transform-origin: center left;

  & svg {
    display: block;
    position: absolute;
  }

  & path {
    fill: var(--color-text);
  }

  &-triangle {
    filter: none;
    position: absolute;
    rotate: 0deg;
    transform: unset !important;
    transform-origin: 49.5% 39.5%;
    transition: all 1s $ease-mc;
    z-index: z('triangle');

    @media (prefers-reduced-motion: reduce) {
      rotate: 0deg !important;
      transition: none;
    }
  }

  & span {
    overflow: hidden;

    @include media('<phone') {
      display: block;
      height: 50px;
      position: absolute;
      width: 200px;
    }
  }
}

.langs {
  color: var(--color-text);
  mix-blend-mode: difference;
  position: absolute;
  right: clamp(94px, 13vw, 120px);
  top: clamp(26px, 5vw, 36px);
  z-index: z('navigation');

  * {
    line-height: 1.8;
  }
}

.langs__list {
  display: flex;
  list-style: none;
  gap: clamp(12px, 5vw, 24px);

  a {
    font-size: 20px;
  }
}

// Fix old menu issue
[lang='en'] {
  .menu--en {
    display: block;
  }
  .menu--pt {
    display: none;
  }
}

[lang='pt'] {
  .menu--pt {
    display: block;
  }
  .menu--en {
    display: none;
  }
}
