.navigation {
  color: var(--color-text);
  height: auto;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('navigation');

  @include media('<phone') {
    height: 12rem;
  }
}

.navigation__logo {
  display: block;
  height: 6rem;
  left: 5rem;
  pointer-events: auto;
  position: absolute;
  top: 3.3rem;
  width: auto;

  & svg path {
    fill: var(--color-text);
  }

  &-triangle {
    display: block;
    filter: none;
    left: 0.5vw;
    margin-right: 3vw;
    min-width: 1.1vw;
    min-height: 1.1vw;
    position: absolute;
    rotate: 90deg;
    scale: 2.6;
    top: 0.75vw;
    transform: unset !important;
    transform-origin: 39% 50%;
    transition: all 1s $ease-mc;
    z-index: z('triangle');

    @include media('<phone') {
      scale: 1.4;
      left: 1.5rem;
    }

    @media (prefers-reduced-motion: reduce) {
      rotate: 90deg !important;
      transition: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      &.is-on-preloader {
        animation: logo-in 6s $ease-mc;
        top: calc(50dvh - 3.2vw);
        left: calc(50dvw - 3.2vw);
        top: 20vw;

        @include media('<phone') {
          scale: 8;
        }
      }

      @keyframes logo-in {
        from {
          scale: 0;
          rotate: 90deg;
        }

        to {
          scale: 20;
          rotate: 1620deg;
        }
      }
    }
  }

  & span {
    overflow: hidden;

    svg {
      width: 1.9rem;
      height: 1.9rem;
      max-width: 1.9rem;
      max-height: 1.9rem;
      display: block;
      margin-top: 1rem;

      @include media('<phone') {
        width: 2.4rem;
        height: 2.4rem;
        max-width: 2.4rem;
        max-height: 2.4rem;
      }
    }
  }

  &-lettering {
    display: inline-flex;
    margin-left: 6rem;
    position: relative;
    top: 1rem;

    & span {
      opacity: 0;
    }
  }

  @include media('<phone') {
    left: 3rem;
    top: 3rem;

    &-lettering {
      margin-left: 9rem;
    }
  }
}

.langs {
  color: var(--color-text);
  mix-blend-mode: difference;
  position: absolute;
  right: 10.9rem;
  text-align: center;
  top: 3.1rem;
  z-index: z('navigation');
}

.langs__list {
  display: flex;
  list-style: none;

  & .langs__list__item a {
    font-size: 1.8rem;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    opacity: 0;

    & span {
      padding: 1rem 0;
    }

    @include media('<phone') {
      font-size: 4.2rem;
      display: none;
    }
  }
}
