.about {
  @extend %page;
}

.about__hero__title {
  @extend %container;

  margin-top: 32rem;
  padding-right: 62.46rem;
  margin-bottom: 25.3rem;

  @include media('<phone') {
    margin-bottom: 10rem;
    padding-right: 0rem;
  }
}

.about__hero__title__list {
  display: none;
  visibility: hidden;
}

.about__hero__media {
  height: 90rem;
  margin: auto;
  margin-bottom: 34rem;
  overflow: hidden;
  width: 163.2rem;

  & picture > * {
    height: 100%;
    min-height: 100rem;
    object-fit: cover;
    width: 100%;
  }

  @include media('<phone') {
    height: unset;
    margin-bottom: unset;
    width: 100%;

    & picture > * {
      height: unset;
      min-height: unset;
    }
  }
}

.about__intro__text {
  @extend %container;

  display: flex;
  justify-content: space-between;
  margin-top: 29rem;

  &__title {
    width: 32rem;
  }

  &__copy {
    width: 84rem;
    & p {
      margin-bottom: 3rem;
    }
  }

  &__button {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  @include media('<phone') {
    display: block;
    margin-top: 30rem;

    &__title,
    &__copy {
      width: 100%;
    }

    &__title {
      margin-bottom: 6.8rem;
    }
  }

  &__button {
    font-weight: bold;
  }
}

.about__creators {
  @extend %container;

  margin-bottom: 44rem;
  margin-top: 32rem;

  @include media('<phone') {
    margin-bottom: 0;
  }
}

.about__creators__title {
  margin-bottom: 32rem;
  text-align: center;
}

.about__creator__name {
  @include media('<phone') {
    font-size: 4.8rem;
  }
}

.about__creator__role {
  line-height: 1.1;
  margin-top: 1.5rem;
  max-width: 70%;

  @include media('<phone') {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    max-width: 100%;
  }
}

.about__creator__bio {
  & p {
    margin-bottom: 3.5rem;

    @include media('<phone') {
      margin-bottom: 6rem;
    }
  }

  & a {
    text-decoration: underline;
  }
}

.about__image__section {
  align-items: center;
  display: flex;
  margin-bottom: 28rem;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .about__image__section__media {
      width: 94.6rem;

      @include media('<phone') {
        width: 100%;
      }
    }

    .about__image__section__copy {
      margin-left: 0;
      margin-right: 16.2rem;

      @include media('<phone') {
        margin-left: 6rem;
        margin-right: 0;
        margin-top: 12rem;
        width: calc(100% - 12rem);
      }
    }
  }

  @include media('<phone') {
    display: block;
  }
}

.about__image__section__media {
  width: 95.4rem;

  & img {
    height: auto;
    width: 100%;
  }

  @include media('<phone') {
    width: 100%;
  }
}

.about__image__section__copy {
  margin-left: 16.2rem;
  width: 51.8rem;

  @include media('<phone') {
    margin-bottom: 32rem;
    margin-left: 6rem;
    margin-top: 12rem;
    width: calc(100% - 12rem);
  }
}

.about__awards {
  @extend %container;

  margin: 32rem 0 16rem;
}

.about__awards__title {
  margin-bottom: 25.3rem;
  text-align: center;

  @include media('<phone') {
    margin-bottom: 16rem;
  }
}

.about__awards__list__item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  &:first-child {
    border-top: 1px solid black;
  }

  & .about__awards__list__item__column:nth-child(1) {
    font-weight: 700;
    width: 30%;
  }

  & .about__awards__list__item__column:nth-child(2) {
    width: 35%;
  }

  & .about__awards__list__item__column:nth-child(3) {
    width: 20%;
  }

  & .about__awards__list__item__column:nth-child(4) {
    width: 20%;
  }

  @include media('<phone') {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .about__awards__list__item__column:nth-child(1),
    & .about__awards__list__item__column:nth-child(2),
    & .about__awards__list__item__column:nth-child(3),
    & .about__awards__list__item__column:nth-child(4) {
      width: 100%;
    }
  }
}
