a.button__text {
  font-weight: 700;
  text-decoration: underline;
}

.has-arrow {
  border: 1px solid var(--color-text);
  border-radius: 10vw;
  display: inline-flex;
  padding: 2vw 3vw;
  place-items: center;

  svg {
    height: 2vw;
    position: relative;
    margin-left: 1vw;
    transform: translateX(0);
    transition: transform 1.4s $ease-mc;
    transition-delay: 0.3s;
    width: 2vw;
  }

  &:hover svg {
    transform: translateX(2rem);
    transition-delay: 0;
  }

  @include media('<phone') {
    padding: 4vw 8vw;

    svg {
      height: 8vw;
      margin-left: 4vw;
      width: 8vw;
    }
  }
}

.has-arrow--new-window {
  svg {
    rotate: -45deg;
  }
}

button {
  font: inherit;
  font-weight: 500;
}

.arrow-button path,
.arrow-button line {
  stroke: var(--color-text);
}
