.preloader {
  display: none;

  @extend %center;
  @extend %cover;

  background-color: var(--color-text);
  // background-image: url('/shared/intro.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-background);
  text-align: center;
  z-index: z('preloader');

  @include media('<phone') {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .tablet & {
    position: fixed;
  }
}

.preloader__text {
  top: 22dvh;
  position: relative;

  span {
    display: inline-block;
    overflow: hidden;
  }

  span span {
    @extend %title-44;
  }
}

.preloader__number {
  top: calc(20vw + 2.4rem);
  font-size: 2.4rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
}

.preloader__number__text {
  display: inline-block;
}
